 /* Author's custom styles
   ========================================================================== */
   */
   /* General Styles */
    
html {
     font-size: 1rem;
     
   }
    
  body {
    font-family: 'Open Sans', sans-serif;
    color:#e2e3ed;
   }
    
  ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
   }
    
  a {
     color: #e2e3ed;
     text-decoration: none;
   }

    
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.9em;
    font-weight: 500;
   }


    
  h3, 
   h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
   }
    
  p {
     font-size: 1.1em;
     line-height: 1.1em;
   }
    
  img {
    width: 100%;
   }
    
  figure {
    margin: 0;
   }
    
  address {
    font-style: normal;
   }
    

   .content-wrapper {
    width: 90%;
    margin: 50px 0;
  }

  /* Base Header/Footer Styles */


  header {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background: #202322;
  }



  header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
  }

  header figure {
    width: 60%;
  }

  .header-divider{
    width: 100%;
    height: 1px;
    margin: 10px 0 20px 0;
    background: #3a3a3a;
  }

  
  header nav {
    width: 60%;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    
  }

  header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
  }

  header nav ul li {
    font-size: 1.125em;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #202322;
  }


  footer .content-wrapper {
    width: 55%;
  }

  footer p {
    margin: 0;
  }

  footer .contact {
    margin-bottom: 50px;
  }


  footer .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  footer .social p {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .copyright {
    margin: 20px 0;
  }

  /* Mobile Styles - Homepage */

  

  /*.header-divider {
    width: 60%;
  }*/

 

  /* HERO AREA */

  .hero-area {
    background: url('../img/unplugged-retreat.jpg');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
  }

  .hero-area h1 {
    font-size: 2.25em;
    line-height: 2.7em;
    font-weight: 500;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
  }

  /* ASIDE */

  aside {
    display: flex;
    justify-content: center;
    background: #527158;
  }

  input {
    font-size: 1.1em;
    font-weight: 500;
  }

  /* FEATURES */

  .features {
    display: flex;
    justify-content: center;
    background: url('../img/unplugged-retreat-features.jpg');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;

  }

  .features h2 {
    margin-bottom: 60px;
  }

  .features p {
    margin: 0;
  }

  .features .features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .features article {
    width: 63%;
    margin: 30px 0;
  }

  .fontawesome-icon {
    margin-bottom: 40px;
  }

  /* REVIEWS */
  .reviews {
    display: flex;
    justify-content: center;
    background: #2a423a;

  }

  .reviews h2 {
    margin-bottom: 40px;
    line-height: 1;
  }

  .reviews h3 {
    width: 55%;
    margin: 20px 0;
  }


  /* ***** A B O U T ****** */

  .mission {
    display: flex;
    justify-content: center;
    background: #527158;
  }

  .mission h2 {
    font-size: 3em;
  }

  .map figure {
    width: 100%;
    height: 0;
    padding-bottom: 125%;
    overflow: hidden;
    position: relative;
  }

  .map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .contact-section {
    display: flex;
    justify-content: center;
    background: #2a423a;
  }

  /* ***** F A Q ****** */

  .faq {
    display: flex;
    justify-content: center;
    background: #527158;
  }

  .faq .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    margin: 50px 0 0 0;
  }

  .faq h2 {
    margin-bottom: 40px;
    line-height: 1.9em;
  }

  .faq-content {
    margin-bottom: 50px;
  }

  .faq-content h4 {
    line-height: 1.5em;
  }

  .faq h4, p {
    font-size: 1.1em;
    line-height: 1.1em;
  }



  aside .form {
    margin-top: 30px;
  }
   
  input[type=text] {
    box-sizing: border-box;
    width: 100%;
    color: #2a423a;
    font-style: italic;
    padding: 1em;
  }
   
  input[type=button] {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #2a423a;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }



   /* ************* Mobile Styles - About ************* */

   .contact-content p {
    margin: 0;
   }

   @media only screen and (min-width: 768px) {
      /* Tablet Styles */
      .content-wrapper {
        max-width: 640px;
        margin: 100px 0;
      }

      h2 {
        font-size: 2.25em;
        line-height: 1.333;
      }

      h3 {
        font-size: 1.5em;
        line-height: 1.25;
      }

      header {
        padding: 33px 0;
      }

      header .content-wrapper {
        width: 100%;
        justify-content: space-between;
      }

      header figure {
        width: 30%;
      }

      header nav {
        width: 20%;
      }

      header nav ul {
        justify-content: space-between;
      }

      .header-divider {
        display: none;
      }

      .hero-area {
        min-height: 600px;
      }

      .hero-area h1 {
        font-size: 3em;
        line-height: 1;
        margin: 0;
      }

      aside .content-wrapper {
        margin: 50px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      aside .content-wrapper form, aside .content-wrapper .form-description {
        width: 40%;
        margin: 0;
      }

      .features .features-item-description {
        width: 50%;
      }

      .features article {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        flex-basis: 50%;
      }


      .reviews article {
        display: flex;
        justify-content: space-between;
      }

      .reviews h2 {
        width: 85%;
      }

      .reviews article figure,
      .reviews article div {
        width: 49%;
      }

      .reviews h3 {
        width: 75%;
        margin: 0;
      }

      footer .content-wrapper {
        width: 65%;
        margin: 100px 0;
      }

      footer .copyright {
        width: 100%;
      }

      footer .contact {
        margin-bottom: 0;
      }

      footer .contact h4 {
        font-size: 1.5em;
      }

      .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      footer p {
        line-height: 1.1em;
      }

      /* About */

      .mission-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 20px;
      }

      .mission-content p {
        width: 45%;
       
      }

      .map figure {
       padding-bottom: 54%;
      }

      .contact-section .content-wrapper h2 {
        width: 80%;
      }

      .contact-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      /* FAQ */
      .faq h2 {
        width: 100%;
      }

      .faq .content-wrapper {
        justify-content: space-between;
      }

      .faq-content {
        flex-basis: 45%;
      }

      .faq h4 {
        font-size: 0.9em;
        line-height: 1em;
      }

      .faq p {
        font-size: 0.9em;
        line-height: 1em;
      }

   }

   @media only screen and (min-width: 1200px) {
    /* Desktop Styles */
    .content-wrapper {
      max-width: 960px;
    }

    header {
      padding: 15px 0;
    }

    h1 {
      font-size: 3.75em;
    }

    .hero-area h1 {
      width: 80%;
    }

    h2 {
      font-size: 2.25em;
    }

    h3, h4 {
      font-size: 1.9em;
    }

    p {
      font-size: 1.1em;
      line-height: 1.5em;
    }

    aside .content-wrapper {
      justify-content: space-around;
    }

    aside .content-wrapper .form-description, aside .content-wrapper .form {
      width: 30%;
    }

    .features h2 {
      width: 90%;
    }

    .features article {
      flex-basis: 33%;
    }

    .reviews h2 {
      padding-bottom: 50px;
    }

    .reviews article div {
      width: 42%;
    }

    /* About */
    .mission h2, .contact-section .content-wrapper h2 {
      width: 95%;
      font-size: 3em;
    }

    .mission h2 {
      font-size: 3em;
    }

    .map figure {
      padding-bottom: 47%;
    }


    /*FAQ*/
    .faq h2 {
      width: 100%;
      font-size: 3em;
    }

    .faq h4, p {
      font-size: 1.1em;
      line-height: 1.1em;
    }
 }